Repository deepset-ai/FARM, pull requests merged in 2019-11, with the labels that each got.

#136 Fix ##115 for _download_extract_downstream_data() related functions
  farm/data_handler/processor.py
  farm/data_handler/utils.py
  farm/file_utils.py
Labels: enhancement, part: processor

#137 Raise an Exception when an invalid path is supplied for loading a saved model
  farm/modeling/language_model.py
Labels: enhancement, part: model

#127 Dataset from dicts
  farm/data_handler/data_silo.py
Labels: enhancement, part: processor

#138 Change context in QA formatted preds to not split words
  farm/modeling/prediction_head.py
Labels: enhancement, part: inference, task: QA

#147 This should fix #146
  examples/doc_classification_cola.py
Labels: bug

#150 Fix classification report for multilabel
  farm/eval.py
Labels: bug, part: evaluator, task: Text Classif

#155 Fix loading custom vocab in transformers style for LM finetuning
  farm/data_handler/input_features.py
  farm/data_handler/utils.py
  farm/modeling/adaptive_model.py
  farm/modeling/language_model.py
  farm/modeling/prediction_head.py
  farm/train.py
  test/samples/lm_finetuning/train-sample.txt
  test/test_lm_finetuning.py
Labels: bug, part: model, task: LM fine

#158 fix duplicate samples in LM finetuning
  farm/data_handler/processor.py
  farm/data_handler/utils.py
Labels: bug, part: processor, task: LM fine

#159 Add backwards compatibility for loading prediction head
  farm/infer.py
  farm/modeling/adaptive_model.py
  farm/modeling/prediction_head.py
Labels: enhancement

#163 fix context in QA formatted preds
  farm/modeling/prediction_head.py
Labels: part: model, task: QA
