Repository deepset-ai/FARM, pull requests merged in 2020-01, with the labels that each got.

#184 Fix device arg in examples
  examples/doc_classification.py
  examples/doc_classification_cola.py
  examples/doc_classification_crossvalidation.py
  examples/doc_classification_multilabel.py
  examples/doc_classification_multilabel_roberta.py
  examples/doc_classification_with_earlystopping.py
  examples/doc_regression.py
  examples/embeddings_extraction.py
  examples/lm_finetuning.py
Labels: bug

#195 Automatically infer layer dims of prediction head
  .gitignore
  examples/doc_classification.py
  examples/doc_classification_cola.py
  examples/doc_classification_crossvalidation.py
  examples/doc_classification_multilabel.py
  examples/doc_classification_with_earlystopping.py
  examples/doc_regression.py
  examples/ner.py
  examples/question_answering.py
  examples/xlmr_qa_demo.py
  farm/data_handler/processor.py
  farm/modeling/adaptive_model.py
  farm/modeling/language_model.py
  farm/modeling/prediction_head.py
  test/test_doc_classification.py
  test/test_doc_classification_distilbert.py
  test/test_doc_classification_roberta.py
  test/test_doc_regression.py
  test/test_ner.py
  test/test_ner_amp.py
  test/test_question_answering.py
Labels: enhancement, part: model

#218 Improve traceback for errors happening during multiprocessing in datasilo
  farm/data_handler/processor.py
Labels: enhancement, part: data silo

#220 Add option for custom loss aggregation of heads
  farm/modeling/adaptive_model.py
  farm/train.py
Labels: enhancement, part: model, part: trainer
