Repository deepset-ai/FARM, pull requests merged in 2020-02, with the labels that each got.

#230 Fix shape of logits in regression head
  farm/modeling/prediction_head.py
Labels: bug

#264 Add the option to define the language model class manually
  farm/modeling/language_model.py
Labels: enhancement, part: model

#267 Fix progress bar in datasilo
  farm/data_handler/data_silo.py
Labels: bug, part: data silo
